{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="home-btn">
<a href="{{ path('app_posts') }}" class="btn btn-primary">Voir les posts</a>
</div>
{% endblock %}
